<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>New Food</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <ion-item>
      <ion-label position="floating" color="primary">Dish</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Description</ion-label>
      <ion-input type="text" formControlName="description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Preparation Time</ion-label>
      <ion-datetime formControlName="pTime" displayFormat="HH:mm" [(ngModel)]="myDate"></ion-datetime>
    </ion-item>
    <div  >
        <ion-row  [style.height.px]="height">
          <ion-col size="10" offset="1">
            <ion-content>
                <ion-title>Where To Find</ion-title>
              <agm-map
              [style.height.px]="height"
              [latitude]="lat"
              [longitude]="lng" (mapClick)="mapClicked($event)">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
             </agm-map>
            </ion-content>
          </ion-col>
        </ion-row>
      </div>
    <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid">Create</ion-button>
  </form>
</ion-content>
